## BA5B

**Length of a Longest Path in the Manhattan Tourist Problem**

Find the length of a longest path in a rectangular city.

Given: Integers n and m, followed by an n × (m+1) matrix Down and an (n+1) × m matrix Right. The two matrices are separated by the "-" symbol.

Return: The length of a longest path from source (0, 0) to sink (n, m) in the n × m rectangular grid whose edges are defined by the matrices Down and Right.

Link: https://rosalind.info/problems/ba5b/

In [ ]:
import numpy as np

In [ ]:
def ManhattanTourist(n,m,down,right):

  s = np.zeros([n+1, m+1])

  for i in range(1, n+1):
    s[i, 0] = s[i-1, 0] + down[i - 1, 0]

  for j in range(1, m+1):
    s[0, j] = s[0, j-1] + right[0, j - 1]
    
  for i in range(1, n+1):
    for j in range(1, m +1):
      s[i, j] = max(s[i - 1, j] + down[i - 1, j], s[i, j - 1] + right[i, j - 1])

  return int(s[n, m])
# vraca float  ako se ne casta u int

In [ ]:
# sample dataset
down = np.matrix([[1,0,2,4,3],
[4,6,5,2,1],
[4,4,5,2,1],
[5,6,8,5,3]])
right = np.matrix([[3,2,4,0],
[3,2,4,2],
[0,7,3,3],
[3,3,0,2],
[1,3,2,2]])

ManhattanTourist(4,4,down,right)

34

In [ ]:
# dataset
f = open("/content/rosalind_ba5b (1).txt", "r")
inlines = [x.strip("\n") for x in f.readlines()]
n, m = [int(x) for x in inlines[0].split()]

down = []
for i in range(n):
  down.append([int(x) for x in inlines[1 + i].split()])

down = np.matrix(down)

right = []
for i in range(n + 1):
  right.append([int(x) for x in inlines[n + 2 + i].split()])

right = np.matrix(right)

ManhattanTourist(n,m,down,right)

100